/* Global Styles */
:root {
  --theme-black: black;
  --theme-white: white;
  --theme-orange: orange;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: var(--theme-black);
  color: var(--theme-white);
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

img {
  width: 100%;
  display: block;
}

/* Text Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 75ch;
}

a {
  text-decoration: none;
  color: var(--theme-white);
}

.underline {
  color: var(--theme-orange);
}

.text-orange {
  color: var(--theme-orange);
}

.text-white {
  color: var(--theme-white);
}

.smalltext {
  font-size: 10px;
  text-align: center;
}

/* Container Styles */
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-lg {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main Header Styles */
.main-header {
  max-width: 700px;
  margin: 4rem auto;
  padding: 0 20px;
}

/* Button Styles */
.button {
  background-color: var(--theme-black);
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

/* Cards Styles */
.power > * {
  background: var(--theme-orange);
  margin-bottom: 20px;
}

.power article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.power section {
  padding: 1em 1em 0 1em;
}

.power p {
  margin-top: 0;
}

.power footer {
  padding: 0 1em 1em 1em;
  justify-self: flex-end;
  margin-top: auto;
}

/* Responsive Iframe Styles */
.aspect-ratio {
  position: relative;
  background: var(--theme-black);
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
}

.aspect-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Utility Styles */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.list-style-none {
  list-style: none;
}

.space {
  margin: 5rem 0;
}

.p-0 {
  padding: 0;
}

.pl-l {
  padding-left: 1rem;
  text-decoration: none;
}

.m-0 {
  margin: 0;
}

/* Navbar Styles */
#main-nav {
  padding: 0 1rem;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.16);
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: var(--theme-black);
  z-index: 1;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

#toggle {
  display: none;
  background-color: var(--theme-orange);
  font-family: "Courier New", Courier, monospace;
}

/* Accordion Styles */
.accordion {
  background-color: var(--theme-white);
  color: var(--theme-black);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:not(:last-of-type) {
  border-bottom: solid var(--theme-gray) 1px;
}

.accordion b {
  display: block;
  max-width: 75ch;
  padding-right: 20px;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: var(--theme-orange);
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion.active,
.accordion:hover {
  background-color: var(--theme-white);
}

.panel {
  padding: 0 18px;
  background-color: var(--theme-orange);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--theme-white);
  text-align: left;
}

/* Mobile Only Styles */
@media (max-width: 767px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #items {
    position: absolute;
    top: 64px;
    left: 0;
    display: none;
    background: var(--theme-orange);
    width: 100%;
  }

  #items.active {
    display: block;
  }

  #items > li {
    margin: 1rem;
  }

  #toggle.active {
    display: block;
  }
}

/* Desktop Only Styles */
@media (min-width: 767px) {
  .main-header {
    text-align: center;
  }

  .power {
    display: flex;
  }

  .power > * {
    flex: 1 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .power > *:first-child {
    margin-left: 0;
  }
  
  .power > *:last-child {
    margin-right: 0;
  }
}
